@{
    ViewData["Title"] = "Home Page";
}

@section scripts {
    <script src="~/js/userCount.js" asp-append-version="true"></script>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

